<!-- start footer -->
<footer id="footer" class="text--center text--lg-left">
  <div class="grid grid--container">
    <div class="row row--xs-middle">
      <div class="col col--sm-10 col--md-8 col--lg-4">
        <div class="__item">
          <a class="site-logo" href="index.html">
            <img class="img-responsive " width="175" height="42" src="/assets/img/logo-rebrand.png" data-src="/assets/img/logo-rebrand.png" alt="demo" />
          </a>

          <p class="__text">
            OmniPivot is a new type of web wallet, that combines security, ease of use, multi-currency support, and is completely open source from the ground up (even including the deployment scripts) It currently supports Bitcoin and OMNI, and all OmniProtocol created tokens
          </p>
        </div>
      </div>

      <div class="col col--sm-10 col--md-8 col--lg-3 col--xl-offset-1">
        <div class="__item">
          <h4 class="__title">Main menu</h4>

          <nav id="footer__navigation" class="navigation">
            <div class="row row--xs-middle">
              <div class="col col--xs-auto col--lg-6">
                <ul class="__menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">News</a></li>
                </ul>
              </div>

              <div class="col col--xs-auto col--lg-6">
                <ul class="__menu">
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Wallet</a></li>
                  <li><a href="#">FAQ’s</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="col col--sm-10 col--md-8 col--lg-5 col--xl-4">
        <div class="__item">
          <h4 class="__title">Subscribe</h4>

          <form class="form--horizontal" action="#">
            <div class="b-table">
              <div class="cell v-middle">
                <div class="input-wrp">
                  <input class="textfield" type="text" value="" placeholder="E-mail" />
                </div>
              </div>

              <div class="cell v-middle">
                <button class="custom-btn custom-btn--medium custom-btn--style-2" type="submit" role="button">Subscribe</button>
              </div>
            </div>
          </form>

          <p class="__note">Despite some naming, syntactic, and standard</p>
        </div>
      </div>
    </div>

    <div class="row row--xs-middle row--lg-between">
      <div class="col col--sm-10 col--md-8 col--lg-4">
        
      </div>

      <div class="col col--sm-10 col--md-8 col--lg-6  text--lg-right">
        <div class="__item">
          <span class="__copy">© 2019, OmniPivot Pte. Ltd. | <a href="#">Privacy Policy</a> | <a href="#">Sitemap</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

<div id="btn-to-top-wrap">
  <a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
</div>