<div id="header" ng-controller="NavigationController" ng-init="getNavData();modalOpened=false;section='';subsection=''">
    
    <header id="top-bar" class="top-bar--light">
        <div id="top-bar__inner">
          <a id="top-bar__logo" class="site-logo" href="/">
            <img class="img-responsive" width="175" height="42" src="/assets/img/logo-rebrand.png" alt="demo" />
            <img class="img-responsive" width="175" height="42" src="/assets/img/logo-rebrand.png" alt="demo" />
          </a>
  
          <a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>
  
          <div id="top-bar__navigation-wrap">
            <div>
              <nav id="top-bar__navigation" class="navigation" role="navigation">
                <ul>
             
                    <li class="divider-vertical" ng-hide="account.loggedIn"></li>
                    <li ng-show="account.loggedIn" ng-class="{active:section=='wallet'}">
                      <a href="/wallet/overview" ng-click="section='wallet';subsection='overview'"><span>{{ 'NAVIGATION.WALLET' | translate }}</span> </a>
                    </li>
                    <li ng-class="{active:section=='exchange'}">
                      <a href="/dex/overview" ng-click="section='exchange';subsection='omnidex'"><span>{{'NAVIGATION.EXCHANGE' | translate}}</span> </a>
                    </li>
                    <li ng-class="{active:section=='explorer'}">
                      <a href="/explorer/overview" ng-click="section='explorer';subsection='transactions'"><span>{{'NAVIGATION.EXPLORER' | translate}} </span></span></a>
                    </li>
                    <li ng-class="{active:section=='about'}">
                      <a href="/about/omniwallet" ng-click="section='about';subsection='omniwallet'"><span>{{'NAVIGATION.ABOUT' | translate}}</span> </a>
                    </li>
                </ul>
              </nav>
  
              <br class="hide--lg">
  
              <ul id="top-bar__subnavigation">
                <li><a class="custom-btn custom-btn--small custom-btn--style-3" href="#" ng-click="modalManager.openCreateModal()">{{ 'NAVIGATION.CREATE' | translate }}</a></li>
                <li><a href="#" ng-click="modalManager.openLoginModal()">{{ 'COMMON.LOGIN' | translate }}</a></li>
  
                
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- end header -->
  
      



  <div class="navbar navbar-static-top navbar-main-tier1 hidden-xs" role="navigation" collapse="section==''">
    <div id="wallet-navbar" ng-if="section=='wallet'">
      <ul class="nav navbar-nav">
        <li ng-class="{active:subsection=='overview'}"><a ng-click="subsection='overview'" href="/wallet/overview">{{'COMMON.OVERVIEW' | translate }}</a></li>
        <li ng-class="{active:subsection=='myaddresses'}"><a ng-click="subsection='myaddresses'" href="/wallet/addresses">{{ 'NAVIGATION.ADDRESSES' | translate }}</a></li>
        <li ng-class="{active:subsection=='myassets'}"><a ng-click="subsection='myassets'" href="/wallet/assets">{{'NAVIGATION.ASSETS' | translate}}</a></li>
        <li ng-class="{active:subsection=='history'}"><a ng-click="subsection='history'" href="/wallet/history">{{'COMMON.HISTORY' | translate}}</a></li>
        <li ng-class="{active:subsection=='send'}"><a ng-click="subsection='send'" href="/wallet/send">{{ 'COMMON.SEND' | translate }}</a></li>
      </ul>
    </div>
    <div id="exchange-navbar" ng-if="section=='exchange'">
      <ul class="nav navbar-nav">
        <li ng-class="{active:subsection=='omnidex'}"><a ng-click="subsection='omnidex'" href="/dex/overview">{{'NAVIGATION.OMNIDEX' | translate}}</a></li>
        <li ng-class="{active:subsection=='trade'}"><a ng-click="subsection='trade'" href="/exchange/trade">{{'NAVIGATION.DEX1' | translate}}</a></li>
        <li ng-show="account.loggedIn" ng-class="{active:subsection=='myoffers'}"><a ng-click="subsection='myoffers'" href="/exchange/myoffers">{{'COMMON.MY' | translate}} {{'NAVIGATION.DEX1' | translate}} {{'NAVIGATION.OFFERS' | translate}}</a></li>
      </ul>
    </div>
    <div id="explorer-navbar" ng-if="section=='explorer'">
      <ul class="nav navbar-nav">
        <li ng-class="{active:subsection=='transactions'}"><a ng-click="subsection='transactions'" href="/explorer/overview">{{'NAVIGATION.TRANSACTIONS' | translate}}</a></li>
        <li ng-class="{active:subsection=='assets'}"><a ng-click="subsection='assets'" href="/explorer/assets">{{'NAVIGATION.EXPLOREASSETS' | translate}}</a></li>
        <li ng-class="{active:subsection=='crowdsales'}"><a ng-click="subsection='crowdsales'" href="/explorer/crowdsales">{{'COMMON.ACTIVECROWDSALES' | translate}}</a></li>
      </ul>
    </div>
    <div id="about-navbar" ng-if="section=='about'">
      <ul class="nav navbar-nav">
        <li ng-class="{active:subsection=='omniwallet'}"><a ng-click="subsection='omniwallet'" href="/about/omniwallet">{{'NAVIGATION.ABOUTOMNIWALLET' | translate}}</a></li>
        <li ng-class="{active:subsection=='mastercoin'}"><a ng-click="subsection='mastercoin'" href="/about/omni">{{'NAVIGATION.ABOUTOMNI' | translate}}</a></li>
        <li ng-class="{active:subsection=='faq'}"><a ng-click="subsection='faq'" href="/about/faq">{{'NAVIGATION.FAQ' | translate}}</a></li>
        <li ng-class="{active:subsection=='contact'}"><a ng-click="subsection='contact'" href="/about/contact">{{'NAVIGATION.CONTACT' | translate}}</a></li>
      </ul>
    </div>
  </div>
</div>
