<!-- start main -->
		<main role="main">
			<!-- start section -->
			<section class="section section--no-pt">
				<div class="grid grid--container">
					<div class="logos">
						<div class="__inner">
							<div class="row row--xs-center row--xs-around">
								<div class="col col--xs-auto">
									<img class="lazy" src="/assets/img/14.png" data-src="/assets/img/logos_img/14.png" alt="demo" />
								</div>

								<div class="col col--xs-auto">
									<img class="" src="/assets/img/15.png" data-src="/assets/img/logos_img/15.png" alt="demo" />
								</div>

								<div class="col col--xs-auto">
									<img class="" src="/assets/img/16.png" data-src="/assets/img/logos_img/16.png" alt="demo" />
								</div>

								<div class="col col--xs-auto">
									<img class="" src="/assets/img/17.png" data-src="/assets/img/logos_img/17.png" alt="demo" />
								</div>

								<div class="col col--xs-auto">
									<img class="" src="/assets/img/18.png" data-src="/assets/img/logos_img/18.png" alt="demo" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--no-pt">
				<div class="grid">
					<div class="row row--md-center">
						<div class="col col--md-5 col--lg-6 col--no-gutters">
							<img class="img-responsive" src="/assets/img/img_4.1.jpg" alt="demo" />
						</div>

						<div class="col col--md-7 col--lg-6">
							<div class="content-grid" style="margin-right: auto;max-width: 570px;">
								<div data-aos="fade-left" data-aos-delay="150">
									<div class="section-heading  col-MB-30">
										<h5 class="__subtitle">Our mission</h5>

										<h2 class="__title">OmniPivot Awesome Service that Works for You!</h2>
									</div>

									<p class="col-MB-35">
										Our mission is to provide a secure, inclusive, and affordable platform for all crypto stakeholder to put their fund in. We strive to reach this by providing exemplary services in customer services, system infrastructures, and flexible wallet so everyone will not have a speck of worry while putting their fund with us. 
									</p>

									<p>
										<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Discover</a>
									</p>
								</div>
							</div>
						</div>

						<div class="col hide--md col-MB-40"></div>
					</div>

					<div class="row row--md-center row--md-reverse">
						<div class="col col--md-5 col--lg-6 col--no-gutters">
							<img class="img-responsive" src="/assets/img/img_4.png" alt="demo" />
						</div>

						<div class="col hide--md col-MB-40"></div>

						<div class="col col--md-7 col--lg-6">
							<div class="content-grid" style="margin-left: auto;max-width: 570px;">
								<div data-aos="fade-right" data-aos-delay="150">
									<div class="section-heading col-MB-30">
										<h2 class="__title">OMNI Wallet</h2>
									</div>

									<p class="col-MB-35">
										Omni is both a new type of currency (OMNI) and a platform. It is a protocol layer running on top of Bitcoin similar to how HTTP runs on top of TCP/IP. It provides a decentralized currency exchange, user currencies, smart property, and other features.
									</p>

									<p>
										<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Discover</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--dark-bg section--custom-01">
				<style type="text/css">
					@media only screen and (min-width: 768px)
					{
						.section--custom-01 .img-wrap
						{
							position: absolute;
							top: 0;
							left: 15px;
							right: 0;
							bottom: 0;
							margin-left: 42%;
							overflow: hidden;
						}
					}

					@media only screen and (min-width: 992px)
					{
						.section--custom-01 .__content { margin-bottom: 90px; }

						.section--custom-01 .img-wrap { margin-left: 45%; }
					}
				</style>

				<div class="grid grid--container">
					<div class="row">
						<div class="col col--md-5 col--lg-5">
							<div data-aos="fade-up" data-aos-easing="ease-out-cubic">
								<div class="__content">
									<div class="section-heading section-heading--white col-MB-30">
										<h5 class="__subtitle">OmniPivot Strong side</h5>

										<h2 class="__title">Why People choose OmniPivot</h2>
									</div>

									<p class="col-MB-35">
										OmniPivot is a new type of web wallet, that combines security, ease of use, multi-currency support, and is completely open source from the ground up (even including the deployment scripts) It currently supports Bitcoin and OMNI, and all OmniProtocol created tokens
									</p>

									<p class="hide--md">
										<img class="img-responsive" src="/assets/img/img_3.jpg" alt="demo" />
									</p>

									<p>
										<a class="custom-btn custom-btn--medium custom-btn--style-2" href="#">Explore More</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="img-wrap jarallax  show--md" data-speed="0.3">
					<img class="jarallax-img" src="/assets/img/img_3.jpg" alt="demo" />
				</div>
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section section--no-pt section--no-pb section--custom-02">
				<style type="text/css">
					@media only screen and (min-width: 992px)
					{
						.section--custom-02 .feature--style-1 { margin-top: -140px; }
					}
				</style>

				<!-- start feature -->
				<div class="feature feature--style-1  text--center text--sm-left">
					<div class="row row--no-gutters">
						<!-- start item -->
						<div class="col col--no-gutters col--sm-6 col--lg-4 col--sm-flex">
							<div class="__item  __item--first" data-aos="slide-up" data-aos-offset="-250" data-aos-duration="800" data-aos-delay="0">
								<div class="__content">
									<i class="__ico">
										<img class="img-responsive " src="/assets/img/1.png" data-src="/assets/img/1.png" width="34" height="60" alt="demo" />
									</i>

									<h3 class="__title">Mobile App</h3>

									<p> Our popular wallet works on your Android or iPhone in addition to your web browser.</p>

									<p><a class="__more" href="#" style="text-decoration: none">→</a></p>
								</div>
							</div>
						</div>
						<!-- end item -->

						<!-- start item -->
						<div class="col col--no-gutters col--sm-6 col--lg-4 col--sm-flex">
							<div class="__item  __item--second" data-aos="slide-up" data-aos-offset="-250" data-aos-duration="800" data-aos-delay="150">
								<div class="__content">
									<i class="__ico">
										<img class="img-responsive " src="/assets/img/2.png" data-src="/assets/img/2.png" width="46" height="60" alt="demo" />
									</i>

									<h3 class="__title">Insurance Protection</h3>

									<p>Digital currency stored on our servers is covered by our insurance policy.</p>

									<p><a class="__more" href="#" style="text-decoration: none">→</a></p>
								</div>
							</div>
						</div>
						<!-- end item -->

						<!-- start item -->
						<div class="col col--no-gutters col--sm-6 col--lg-4 col--sm-flex">
							<div class="__item  __item--third" data-aos="slide-up" data-aos-offset="-250" data-aos-duration="800" data-aos-delay="300">
								<div class="__content">
									<i class="__ico">
										<img class="img-responsive " src="/assets/img/3.png" data-src="/assets/img/3.png" width="46" height="60" alt="demo" />
									</i>

									<h3 class="__title">Secure Storage</h3>

									<p>We store the vast majority of the digital assets in secure offline storage.</p>

									<p><a class="__more" href="#" style="text-decoration: none">→</a></p>
								</div>
							</div>
						</div>
						<!-- end item -->
					</div>
				</div>
				<!-- end feature -->
			</section>
			<!-- end section -->

			<!-- start section -->
			<section class="section">
				<div class="grid grid--container">
					<div class="section-heading section-heading--center  col-MB-60">
						<h5 class="__subtitle">Popular Cryptocarrency prices</h5>

						<h2 class="__title">Cryptocurrency Prices</h2>
					</div>

					<script>
						(function(b,i,t,C,O,I,N) {
							window.addEventListener('load',function() {
								if(b.getElementById(C))return;
								I=b.createElement(i),N=b.getElementsByTagName(i)[0];
								I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
							},false)
						})(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
					</script>

					<div class="btcwdgt-chart" bw-theme="light" style="max-width: 100% !important"></div>
				</div>
			</section>
			<!-- end section -->

			

			<!-- start section -->
			<section class="section jarallax" data-speed="0.5">
				<img class="jarallax-img" src="/assets/img/bg_.jpg" alt="demo" />

				<div class="pattern" style="background-color: rgba(0, 0, 0, 0.53);"></div>

				<div class="grid grid--container">
					<div class="section-heading section-heading--center section-heading--white  col-MB-45">
						<h2 class="__title">We can Help You</h2>
					</div>

					<div class="row row--xs-middle">
						<div class="col col--xs-10">
							<!-- start company contacts -->
							<div class="company-contacts  text--center">
								<div class="__inner">
									<div class="row row--xs-between">
										<!-- start item -->
										<div class="col col--lg-4 col--xl-3">
											<div class="__item">
												<p>3 Ang Mo Kio Street 62, #01-57, LINK@AMK 569139</p>
											</div>
										</div>
										<!-- end item -->

										<!-- start item -->
										<div class="col col--sm-6 col--lg-4 col--xl-3">
											<div class="__item">
												<p>Call Us: <a href="tel:+65 87428353">+6587428353</a></p>
											</div>
										</div>
										<!-- end item -->

										<!-- start item -->
										<div class="col col--sm-6 col--lg-4 col--xl-3">
											<div class="__item">
												<p>Email: <a href="mailto:info@omnipivot.co">info@omnipivot.co</a></p>
											</div>
										</div>
										<!-- end item -->
									</div>
								</div>
							</div>
							<!-- end company contacts -->
						</div>
					</div>
				</div>
			</section>
			<!-- end section -->
		</main>
		<!-- end main -->