<!-- <div class="main-container" ng-controller="HomeController">
  <div class="row mobile-centered om-title homepage-welcome">{{ 'HOMEPAGE.WELCOME' | translate }}test</div>

  <div class="row visible-xs text-center"><button type="button" class="btn btn-secondary" ng-click="modalManager.openCreateModal()">{{ 'COMMON.CREATEWALLET' | translate }}</button></div>
  <div class="row visible-xs text-center"><button type="button" class="btn btn-main" ng-click="modalManager.openLoginModal()">{{ 'COMMON.LOGIN' | translate }}</button></div>
  <div class="row visible-xs text-center"><a href="/" ng-click="modalManager.openBalanceCheckModal()">{{ 'HOMEPAGE.BALANCECHECK' | translate }}</a></div>

  <div class="hidden-xs homepage-form">
    <form role="form" name="addressentry">
      <div class="form-group">
        <label for="AddressInput" class="om-subtitle homepage-form-title">{{ 'HOMEPAGE.BALANCECHECK' | translate }}</label>
        <span id="helpBlock" class="help-block help-text">{{ 'HOMEPAGE.ENTERVALIDADDRESS' | translate }}<small class="sm-help-text">{{ 'HOMEPAGE.ADDRESSEXAMPLE' | translate }}</small></span>
        <input type="text" class="form-control input-lg input-group input-white" name="AddressInput" id="AddressInput" ng-model="balanceAddress" ng-change="checkAddress=false">
      </div>
      <button type="submit" ng-click="checkBalance();" ng-disabled="validate(balanceAddress) == false" class="btn btn-main pull-right">{{ 'HOMEPAGE.CHECKBALANCE' | translate }}</button>
    </form>
  </div>
  <div class="om-title text-center" ng-show="checkAddress && !pricesLoaded">
    {{ 'COMMON.LOADING' | translate}}...
  </div>
  <div ng-show="checkAddress && checkAddress.loaded && pricesLoaded">
    <div class="asset-table">
      <div ng-repeat="currency in checkAddress.balance">
        <div class="row">
          <div class="container-fluid input-dark">
            <div class="asset-item col-xs-6 text-left">
              <span>{{(currency.name ? currency.name : currency.symbol | truncate:15) + " ("+currency.id+")"}}</span>
            </div>
            <div class="asset-item col-xs-4 text-right number">
              <span ng-if="!currency.divisible" class="currency" class="number" title="{{checkAddress.getDisplayBalance(currency.id)}}" ng-bind-html="checkAddress.getDisplayBalance(currency.id) | bigjs: '0,0'"></span>
              <span ng-if="currency.divisible && currency.symbol != 'BTC'" class="currency" class="number" title="{{checkAddress.getDisplayBalance(currency.id)}}" ng-bind-html="checkAddress.getDisplayBalance(currency.id) | bigjs: '0,0.00000000'"></span>
              <span ng-if="currency.symbol == 'BTC'" class="currency" title="{{checkAddress.getDisplayBalance(currency.id)}}"><span ng-bind-html="checkAddress.getDisplayBalance(currency.id) | bigjs: '0,0.00000000'"></span> {{currency.symbol}}</span>
            </div>
            <div class="asset-item col-xs-2 text-right number" title="{{currency.balance | currency}}" ng-bind-html="currency.balance | numeraljs: '$0,0.00':true">
            </div>
          </div>
        </div> 
      </div>
    </div> 
  </div>
</div> -->
<!-- start start screen -->


    <div class="start-screen__content  text--center" ng-controller="HomeController">
      <div class="start-screen__content__inner">
        <div class="grid grid--container  col--xs-align-bottom">
          <div class="row row--xs-middle">
            <div class="col col--lg-10">
              <h1 class="__title">Welcome to OmniPivot</h1>

              <p>Enter a valid Bitcoin Address (e.g. 1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P)</p>

              <form class="wallet-form  form--horizontal" role="form" name="addressentry" >
                <div class="b-table">
                  <div class="cell v-middle">
                    <div class="input-wrp">
                        <input type="text" class="textfield" placeholder="Balance Check" name="AddressInput" id="AddressInput" ng-model="balanceAddress" ng-change="checkAddress=false">
                    </div>
                  </div>

                  <div class="cell v-middle">
                      <button type="submit" ng-click="checkBalance();" ng-disabled="validate(balanceAddress) == false" class="custom-btn custom-btn--medium custom-btn--style-2">{{ 'HOMEPAGE.CHECKBALANCE' | translate }}</button>
                  </div>
                </div>
              </form>
              
              <div class="om-title text-center" ng-show="checkAddress && !pricesLoaded">
                  {{ 'COMMON.LOADING' | translate}}...
                </div>
                <div ng-show="checkAddress && checkAddress.loaded && pricesLoaded">
                  <div class="asset-table">
                    <div ng-repeat="currency in checkAddress.balance">
                      <div class="row">
                        <div class="container-fluid input-dark">
                          <div class="asset-item col-xs-6 text-left">
                            <span>{{(currency.name ? currency.name : currency.symbol | truncate:15) + " ("+currency.id+")"}}</span>
                          </div>
                          <div class="asset-item col-xs-4 text-right number">
                            <span ng-if="!currency.divisible" class="currency" class="number" title="{{checkAddress.getDisplayBalance(currency.id)}}" ng-bind-html="checkAddress.getDisplayBalance(currency.id) | bigjs: '0,0'"></span>
                            <span ng-if="currency.divisible && currency.symbol != 'BTC'" class="currency" class="number" title="{{checkAddress.getDisplayBalance(currency.id)}}" ng-bind-html="checkAddress.getDisplayBalance(currency.id) | bigjs: '0,0.00000000'"></span>
                            <span ng-if="currency.symbol == 'BTC'" class="currency" title="{{checkAddress.getDisplayBalance(currency.id)}}"><span ng-bind-html="checkAddress.getDisplayBalance(currency.id) | bigjs: '0,0.00000000'"></span> {{currency.symbol}}</span>
                          </div>
                          <div class="asset-item col-xs-2 text-right number" title="{{currency.balance | currency}}" ng-bind-html="currency.balance | numeraljs: '$0,0.00':true">
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div> 
                </div>
              <p>
                <a class="link" href="#"><small>Do you have a question?</small></a> &nbsp;&nbsp; <a class="link"
                  href="#"><small>What is Bitcoin?</small></a>
              </p>
            </div>
          </div>
        </div>

        <div class="grid grid--container  col--xs-align-bottom">
          <div class="facts">
            <div class="__inner">
              <div class="row row--xs-middle">
                <div class="col col--sm-4 col--md-4">
                  <div class="__item text--sm-left">
                    <span class="num js-count">S12.58M</span><br>
                    The amount of finance in the system
                  </div>
                </div>

                <div class="col col--sm-4 col--md-3">
                  <div class="__item text--sm-left">
                    <span class="num js-count">26.7K</span><br>
                    Active users
                  </div>
                </div>

                <div class="col col--sm-4 col--md-3">
                  <div class="__item text--sm-left">
                    <span class="num js-count">32</span><br>
                    Supported countries
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
<!-- end start screen -->

